[submodule "class_point"]
	path = class_point
	url = git@github.com:Noanono/class_point.git
[submodule "fonctions_permutation"]
	path = fonctions_permutation
	url = git@github.com:Noanono/fonctions_permutation.git
[submodule "Exercice_revision_type_point"]
	path = Exercice_revision_type_point
	url = git@github.com:Noanono/Exercice_revision_type_point.git
[submodule "class_compte"]
	path = class_compte
	url = git@github.com:Noanono/class_compte.git
[submodule "class_suite"]
	path = class_suite
	url = git@github.com:Noanono/class_suite.git
[submodule "TP1_complexe"]
	path = TP1_complexe
	url = git@github.com:Noanono/TP1_complexe.git
